body {
    margin: 0;
    background-color: #F5F5F7;
}

header {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: #444445;
    padding: 20px;
    font-size: 90%;
}

a {
    text-decoration: none;
    color: white;
}

.Encabezado {
    font-size: 96px;
}

.Encabezado2 {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 21px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}

.container1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F7;
    text-align: center;
    width: 50%;

}

.Container3{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container3_fila1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
    overflow: hidden;
}

.container3_fila1_columna1{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
}
.container3_fila1_columna1_botones{
    padding-bottom: 20px;
}
.botoncomprar{
    background-color: #0071e3;
    color:white;
    border-radius: 40px;
    border: 1px solid #0071e3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.container3_fila1_columna2{
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
}

.container3_fila1_columna2_botones{
    padding-bottom: 20px;
}
.container3_fila2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
}
.container3_fila2_columna1{
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
}
.container3_fila2_columna1_botones{
    padding-bottom: 56px;
}

.container3_fila2_columna2{
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    width: 40%;
   
}
.container3_fila2_columna2_botones{
    padding-bottom: 20px;
    align-items: flex-end;
}

.informacion{
    color:#0071e3; 
}

img {
    height: auto;
    width: 100%;
}
@media all and (min-width:1021px) {
    .encabezado {
        font-size: 96px;
    }

    .encabezado2 {
        font-size: 24px;
    }
    .encabezado3 {
        font-size: 36px;
    }
}

@media all and (min-width: 1025px) and (max-width: 1200px) {
    .encabezado {
        font-size: 64px;
    }

    .encabezado2 {
        font-size: 24px;
    }
    .encabezado3 {
        font-size: 24px;
    }
}

@media all and (min-width:769px) and (max-width: 1024px) {
    .encabezado {
        font-size: 48px;
    }

    .encabezado2 {
        font-size: 21px;
    }
    .encabezado3 {
        font-size: 24px;
    }
}

@media all and (min-width:320px) and (max-width: 480px) {
    .encabezado {
        font-size: 48px;
    }

    .encabezado2 {
        font-size: 17px;
    }
    .encabezado3 {
        font-size: 24px;
    }
}
